* {
    margin: 0;
    padding: 0;
}

.messageMain {
    height: 100vh;
    /* width: 40%; */
    align-items: center;
    overflow: hidden;
}

.messageHeading {
    text-align: center;
    color: black;
    height: 3vh;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-family: sans-serif;
}

.messageSmall {
    color: white;
    font-family: sans-serif;
}

.messageHeader {
    
    color: darkgray;
    /* position: fixed; */
    font-family: sans-serif;
}

.messageAll {
    height: 9vh;
    display: flex;
    flex-direction: row;
    /* position: fixed; */

}

.messageMiddle {
    height: 87vh;
    /* position: relative; */
    overflow: auto;
}

.messageSendButton {
    background-color: cornflowerblue;
    /* position: fixed; */
    
}

.messageCloud {
    margin: 10px 10px;
}