.messageMain {
    height: 100%;
    /* width: 40%; */
    align-items: center;
}

.messageHeading {
    text-align: center;
    color: black;
}

.messageSmall {
    color: gray;
}

.messageHeader {
    color: darkgray;
}