body {
    /* background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ); */
    background: linear-gradient(to right, #0d423e,#1b8a82);
    /* url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png); */
    background-color: rgba(31, 95, 95,.90);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.fullpage {
  height: 100vh;
}

.codingpart {
  height: 100vh;
  overflow: auto;
}

.wrapper {
  height: 100vh;
  overflow: auto;
}